@page "/fetchdata"
@using EFBlazorBasics.Data
@inject IHelperService service


<h1>Helper Volunteers</h1>

<p>This component demonstrates fetching data from a service.</p>

<h2>Activitys</h2>
@if (Activitys == null)
{
    <p><em>Loading Activities...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Round</th>
                <th>Helper</th>
                <th>Task</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var activity in Activitys)
            {
                <tr>
                    <td>@activity.Id</td>
                    <td>@activity.Round.No</td>
                    @if (@activity.Helper != null)
                    {
                        <td>@activity.Helper.Name</td>
                    }
                    else
                    {
                        <td>NULL</td>
                    }
                    <td>@activity.Task</td>
                </tr>
            }
        </tbody>
    </table>
}


    <h2>Helpers</h2>
    @if (Helpers == null)
    {
        <p><em>Loading Helpers...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hlpr in Helpers)
                {
                    <tr>
                        <td>@hlpr.Id</td>
                        <td>@hlpr.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <h2>Rounds</h2>
    @if (Rounds == null)
    {
        <p><em>Loading Rounds...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Round No.</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var round in Rounds)
                {
                    <tr>
                        <td>@round.Id</td>
                        <td>@round.No</td>
                    </tr>
                }
            </tbody>
        </table>
    }

<EditForm Model="@values">
    <table class="table">
        <tr>
            <td>
                <button @onclick="@DeleteRound">Delete Round</button>
            </td>
            <td>
                <InputNumber @bind-Value="values.Round" />
            </td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <td>
                <button @onclick="@DeleteActivity">Delete Activity</button>
            </td>
            <td>
                <InputNumber @bind-Value="values.Activity" />
            </td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <td>
                <button @onclick="@DeleteHelper">Delete Helper</button>
            </td>
            <td>
                <InputNumber @bind-Value="values.Helper" />
            </td>
        </tr>
    </table>
</EditForm>



@code {
    private List<Activity> Activitys;
    private List<Helper> Helpers;
    private List<Round> Rounds;

    public class Values
    {
        public int Round { get; set; } = 1;
        public int Helper { get; set; } = 1;
        public int Activity { get; set; } = 1;
    }

    private Values values = new Values();

    async Task UpdateData()
    {
        Activitys = await service.GetActivitys();
        Helpers = await service.GetHelpers();
        Rounds = await service.GetRounds();
    }

    protected async Task DeleteRound()
    {
        await service.DeleteRound(values.Round);
        await UpdateData();
    }

    protected async Task DeleteHelper()
    {
        await service.DeleteHelper(values.Helper);
        await UpdateData();
    }

    protected async Task DeleteActivity()
    {
        await service.DeleteActivity(values.Activity);
        await UpdateData();
    }

    protected override async Task OnInitializedAsync()
    {
        Activitys = await service.GetActivitys();
        if (Activitys==null)
        {
            await service.AddSomeData();
        }
        else if (Activitys.Count() == 0)
        {
            await service.AddSomeData();
        }
        await service.AddSomeData();
        await UpdateData();

    }
}
